
# Oculta /maintenance en la URL y redirige todo a la página de mantenimiento
RewriteEngine On
RewriteCond %{REQUEST_URI} !^/maintenance/
RewriteCond %{REQUEST_URI} !^/index.html$
RewriteCond %{REQUEST_URI} !^/favicon.ico$
RewriteCond %{REQUEST_URI} !\.(jpg|png|svg|css|js)$ [NC]
RewriteRule ^.*$ /maintenance/index.html [L]

# Redirige automáticamente páginas 404 a la página de mantenimiento
ErrorDocument 404 /maintenance/index.html
